VITE_SUPABASE_URL=https://uuuikolbitbbvhskbizo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1dWlrb2xiaXRiYnZoc2tiaXpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxODY4MDMsImV4cCI6MjEwMTc2MjgwM30.lyp3vUWEREMMTgVG0yBriuuO4lfCRaCxOvJW41Y2K1E